* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: #ffffff;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  background-color: #09090a;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #3b82f6;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;
  padding: 180px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;
  width: 64px;
  height: 64px;
  border: 2px solid #27272a;
  border-radius: 8px;
  background: #18181b;
}

input:checked {
  background: #3b82f6;
  border: 2px solid #60a5fa;
}

footer {
  width: 100%;
  display: flex;
  padding: 0px 48px 10px;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  position: fixed;
  bottom: 0px;
  background-color: #09090a;
}

footer img {
  width: 100px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #3b82f6;
}

@media (max-width: 815px) {
  button div {
    display: none;
  }
  header {
    padding-left: 24px;
    padding-right: 24px;
  }
  #form-habits {
    padding: 180px 15px 48px;
  }
  footer {
    padding-left: 15px;
    padding-right: 15px;
    font-size: xx-small;
  }

  footer span {
    display: none;
  }

  footer img {
    width: 75px;
  }
}
